
    <div class= "column" align="center" style="background-color: babyblue">
    <h3>Menu</h3>
    <hr class="style-seven">
   
        <p>  <% if user_signed_in? %>
        <%= link_to "Dodaj nowy wpis", new_post_path, class: "btn btn-success" %> </p>
        <% else %>
        <%= link_to "Zarejestruj sie", new_user_registration_path %>
        <p><%= link_to "Zaloguj sie", new_user_session_path %>
        </p>
        <p >
        Musisz sie zalogowac aby dodac wpis </p>
        <% end %>
        <hr class="style-seven"></hr>
    </div>
    <div class="column">
    <h3>Lista Wpisow</h3>
    <hr class="style-seven"></hr>
          <ul class="nav nav-tabs">
                        <li <% if params[:action] == "published" %>class="active"<% end %>><%= link_to "Opublikowane", published_posts_path %></li>
                        <li <% if params[:action] == "index" %>class="active"<% end %>><%= link_to "Wszystkie", posts_path %></li>
          </ul>
        <table class = "table table-striped">
        <thead>
        <tr> 
            <th> # </th>
            <th> Tytul </th>
            <th> Autor </th>
            <th> Akcje </th>

        </tr>
        </thead>
            <tbody>
            <% @posts.each do |post| %>
            <tr>
            <td> <%= post.id %> </td>
            <td> <%= post.title.html_safe %> </td>
            <td> <%= post.author %> </td>
            <td>
            <%= link_to "Pokaz", post_path(post), class: "btn btn-default btn-xs" %>
            <% if user_signed_in? %> 
            <p>
            <%= link_to "Edytuj", edit_post_path(post), class: "btn btn-primary btn-xs" %>
            <%= link_to "Usun", post_path(post), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Czy napewno chcesz skasowac?" } %>
                </p>
                <% end %>
            </td>
            </tr>
            <% end %>
            </tbody>  
        </table>
        <hr class="style15">
    </div>
    
