<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class "page-header">
      <% if flash[:notice].present? %>
        <div class="alert alert-success">
        <%= flash[:notice] %>
         </div>   
         <% end %>
      </div>
 <a href="/" > <img src="https://i.imgur.com/SXrc3pS.png" alt="logo"> </a>
      <%= yield %>  
      <% if user_signed_in? %>
       <p> <% link_to "Wyloguj sie", destroy_user_session_path, method: :delate %>
       <% end %>
       </div>    
  </body>
</html>
